html {
  box-sizing: border-box;
  font-family: sans-serif;
}

.jumbotron {
  padding: 20px;
}

h1 {
  display: inline-block;
}

img {
  height: 15%;
  width: 12%;
  display: inline-block;
  margin-left: 30%;
  border-radius: 10px;
}

/*
.project-left {
  box-sizing: inherit;
  display: inline-block;
  border: 2px solid #D9EDF7;
  padding: 3%;
  padding-top: 0%;
  margin-left: 5%;
  border-radius: 10px;
  background-color: #FFF;
}

.project-right {
  box-sizing: inherit;
  display: inline-block;
  float: right;
  border: 2px solid #D9EDF7;
  padding: 3%;
  padding-top: 0%;
  margin-right: 5%;
  border-radius: 10px;
  background-color: #FFF;
}
*/

footer {
  margin: 40px 0px;
}
