html {
  font-family: sans-serif;
}

.jumbotron {
  padding: 20px;
}

h1 {
  display: inline-block;
}

.michael {
  height: 15%;
  width: 12%;
  display: inline-block;
  margin-left: 30%;
  border-radius: 10px;
}

.about {
  line-height: 2.5em;
}

.travel {
  font-weight: bold;
}

.panel-body ol li{
  line-height: 2em;
}

.pic-line {
  width: 100%;
}

.webdev-pic {
  width: 19.8%;
  box-sizing: border-box;
  float: left;
  margin: 0px 45px 25px 45px;
  border-radius: 3px;
}

.ducks-pic {
  width: 15%;
  box-sizing: border-box;
  float: left;
  margin: 0px 45px 25px 45px;
  border-radius: 3px;
}

.blazers-pic {
  width: 13.2%;
  box-sizing: border-box;
  float: left;
  margin: 0px 45px 25px 45px;
  border-radius: 3px;
}

.travel-pic {
  width: 20%;
  box-sizing: border-box;
  float: left;
  margin: 0px 45px 25px 45px;
  border-radius: 3px;
}

.projects {
  padding-top: 10px;
  padding-bottom: 47px;
}

.projects ol li{
  line-height: 4em;
}

.bottom {
  padding-top: 40px;
}

.btn {
  margin-left: 43%;
  top: 65px;
  position: relative;
  z-index: 1;
}

.portland {
  width: 100%;
  opacity: 0.8;
  border-radius: 3px;
  position: relative;
  bottom: 60px;
}
